.fc-today-button{
    width:50%
}
.fc-timeGridDay-button{
    width:30%
    
}
.fc-dayGridMonth-button{
    width:30%
}
.fc-prev-button{
    width:30%
}
.fc-next-button{
    width:30%
}
.fc-timeGridWeek-button{
    width:30%
}

.fc-event{
    margin: 1em 0;
    cursor:move;
}

.ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger){
width:40%,


}
.button:not(:disabled), [type="button"]:not(:disabled){
    width:40%
}




